body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
form {
    width: 300px;
    margin: 0 auto;
}
label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    height: 38px;
    padding: 0 10px;
}
.errors {
    color: firebrick;
}
button {
    min-width: 120px;
    height: 38px;
    display: inline-block;
    cursor: pointer;
}